* {
    box-sizing: border-box;
}




body {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}


.nav-section {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    font-weight: bold;
    font-size: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
}

.logo {
    width: 50px;
    height: 50px;
    border: 5px solid black;
    /* text-align: center; */
    line-height: 35px;
}

nav {

    /* text-align: center; */
    line-height: 50px;
    width: 40%;
    height: 50px;
}

header, section {
    min-height: 200px;
    line-height: 200px;
    background-color: #bbb;
    margin: 30px 0;
}
  
section:nth-child(even) {
    background-color: #ddd;
}

body > footer {
    padding: 1% 0;
    background-color: #aaa;
}