* {
    box-sizing: border-box;
}

.clearfix {
    display: block;
    content: "";
    clear:both;
}

body {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #E77D15;
}

h1, h2 {
    margin: 20px 0;
    font-family: 'Source Code Pro', monospace;
}

h2 {
    font-weight: 300;
    font-size: 20px;
    color: grey;
}


.nav-section {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.logo {
    width: 50px;
    height: 50px;
    border: 5px solid black;
    line-height: 35px;
}

.menu {
    margin-right: 10px;
}

ul {
    font-size: 16px;
    list-style-type: none;
    padding: 0;
}

.drop-down-nav > ul > li {
    padding: 20px 0;
}

.Navbar__Items {
    display: none;
}

.drop-down-nav {
    display: none;
    height: auto;
}

.Navbar__ToggleShow {
    display: block;
   
}

.drop-down-nav > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} 

.avatar {
    width: 300px;
    height: 300px;
}

section {
    margin: 30px 0;
}

.bio > p {
    color: grey;
    letter-spacing: 2px;
    line-height: 1.6;
}

.footer-h2 {
    color: black;
    font-weight: bold;
    font-size: 30px;
}

.footer-h3 {
    color: grey;
    font-weight: 100;
}

.contact-info {
    
   /* margin: 50px; */
   width: 100%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
}

.btn {
    
    background-color:#E77D15;
    padding: 15px 30px;
    border: 1px solid #E77D15;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin: 20px 0;
}

.fa, .fab {
    margin-right: 10px;
}

.project > h4 {
    color: grey;
}
.technologies > button {
    border-radius: 5px;
    border: 1px solid lightsalmon;
    background-color:#E77D15;
    padding: 5px;
    color: white;
}
.project > a {
    font-size: 15px;
    display: block;
}

.project-pic {
    width: 100%;
    height: 100%;
}







@media only screen and (min-width: 768px) {
    body {
        width: 80%;
    }
    main {
        width: 80%;
        margin: 0 auto;
    }
    .Navbar__Link, .drop-down-nav {
        display: none;
    }
    
    .Navbar__Items {
        display: block;
    }

    .Navbar__Items > ul > li {
        display: inline-block;
        margin: 0 20px;
    }

    .contact-info {
        display: inline-block;
        margin-top: 20px;
    }

    .btn {
        margin: 20px;
    }

    .project-pic {
        width: 50%;
        height: 400px;
    }

    .project-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        
    }
    .project {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

  
      



  
}